<div id="sessions">
  <div class="contents-wrapp">
    <%= form_for(:session, url: login_path) do |f| %>
      <div class="input-form">
          <%= f.email_field :email, :placeholder => 'メールアドレス', :class => 'input-field' %>
          <%= f.password_field :password, :placeholder => 'パスワード', :class => 'input-field' %>
          <%= f.submit "ログイン", :class => 'btn login-btn' %>

          <p class="link-p">アカウントをお持ちでない場合はこちらから</p>
          <%= link_to "新規登録", new_user_path, :class => 'link' %>
      </div>
    <% end %>
  </div>
</div>
