<p id="notice"><%= notice %></p>

<h1>自分の日記</h1>


    <% month_calendar events: @calenders do |date, calenders| %>
      <%= date.day %>
      
    <% end %>

<br>

<%= link_to '日記をかく', new_calender_path %>

<%= month_calendar events: @calenders do |date, calenders| %>
  <%= date.day %>

  <% calenders.each do |calender| %>
    <div>
      <%= link_to calender.title, calender %>
    </div>
  <% end %>
<% end %>