<p id="notice"><%= notice %></p>

<h1>カレンダー画面</h1>


    <% month_calendar events: @calenders do |date, calenders| %>
      <%= date.day %>
      
    <% end %>

<br>

<%= link_to '新規登録', new_calender_path %>

<%= month_calendar events: @calenders do |date, calenders| %>
  <%= date.day %>

  <% calenders.each do |calender| %>
    <div>
      <%= link_to calender.start_time, calender %>
    </div>
  <% end %>
<% end %>