<h1>カレンダー新規登録画面</h1>

<%= form_for @calender do |c| %>
  <%= c.label :start_time %>
  <%= raw sprintf(
    c.date_select(
      :start_time,
      use_month_numbers: true,
      default:           Date.today,
      date_separator:    '%s'
    ),'年 ', '月 ') + '日'
  %> <%#スタートタイムの表示%>
  <br/>
  <%= c.fields_for :recipes do |r|%>
    <%= r.label :recipe_name %>
    <%= r.text_field :recipe_name %>
    <br/>
    <%= r.label :category %>
    <%= r.text_field :category %>
    <br/>
  <% end %>
  <%= c.submit "登録" %>
<% end %>