<div class="nested-fields">
    <%= f.hidden_field :_destroy %>
    <%= f.label :food_stuff %>:<%= f.text_field :food_stuff %>
    <%= f.label :amount %>:<%= f.number_field :amount %>
    <%= f.label :mass %>:<%= f.text_field :mass %>
    <%= link_to "削除", '', class: "remove_fields" %>
</div>