<h1>カレンダー編集画面</h1>
<div id="recipe-edit">
  <div class="grid">
    <div class="card">
      <%= image_tag 'no-image.png', :class => 'recipe-image' %>
      <%= form_for @recipe, url:recipe_path(@recipe) do |r| %>
        <table id="recipe-table">
          <tr>
            <th>調理日</th>
            <td>
              <%= raw sprintf(
                r.date_select(
                  :cook_at,
                  use_month_numbers: true,
                  default:           Date.today,
                  date_separator:    '%s'
                ),'年 ', '月 ') + '日'
              %> <%#スタートタイムの表示%>    
            </td>
          </tr>

          <tr>
            <th>レシピ名</th>
            <td><%= r.text_field :recipe_name %></td>
          </tr>

          <tr>
            <th>カテゴリ</th>
            <td><%= r.text_field :category %></td>
          </tr>
        </table>

        ------------材料------------
        <table id="food-stuff-table">
          <%= r.fields_for :food_stuffs do |food|%>
            <%= render "food_stuff_fields", f: food %>
          <% end %>
        </table>
        <div class="addBtn"><%= link_to_add_fields "追加", r, :food_stuffs %></div>
        <%= r.submit "完了", :class => 'btn finish-btn'%>
      <% end %>
    </div>
  </div>
</div>