<h1>カレンダー編集画面</h1>
<%= form_for @recipe, url:recipe_path(@recipe) do |r| %>
  <%= r.label :cook_at %>
  <%= raw sprintf(
    r.date_select(
      :cook_at,
      use_month_numbers: true,
      default:           Date.today,
      date_separator:    '%s'
    ),'年 ', '月 ') + '日'
  %> <%#スタートタイムの表示%>
  </br>
  <%= r.label :recipe_name %>
  <%= r.text_field :recipe_name %>
  <br/>
  <%= r.label :category %>
  <%= r.text_field :category %>
  <br/>
  ------------材料------------
  <br/>
  <%= r.fields_for :food_stuffs do |food|%>
    <%= render "food_stuff_fields", f: food %>
  <% end %>
  <%= link_to_add_fields "追加", r, :food_stuffs %>
  <br/>
  <%= r.submit "更新" %>
<% end %>