<div id="recipe-output">
  <div class="grid">
    <div class="card">
      <% @recipes.each do |r| %>
        <h3>
          <div class="recipename">
              <%= r.recipe_name %>（<%= l r.cook_at, format: :yyyymmdd %>）
          </div>
        </h3>
        <table>
          <% r.food_stuffs.each do |food| %>
            <tr>
              <td>
                <%= check_box "todo_checks", true, :class => 'checkboxInput', :id => food.id %>
                <label for="<%= food.id %>" class="checklabel">
                    <%= food.food_stuff %>
                    <%= food.amount %>
                    <%= food.mass %>
                </label>
              </td>
            </tr>
            
            
          <% end %>
        </table>
        
      <% end %>
    </div>
  </div>      
</div>