<div id="recipe-search">
  <div class="grid">
    <div class="card">
      <%= form_tag recipes_search_path do %>
          <div class="dateArea">
            <%= date_field_tag :from_date, params[:from_date], :class => 'input-date' %>
            <span>~</span>
            <%= date_field_tag :to_date, params[:to_date], :class => 'input-date' %>
          </div>
          <div><%= submit_tag "検索", :class => 'search-btn' %></div>
          
      <% end %>

      <% if @recipes.present? %>
        <%= form_tag recipes_search_output_path do %>
          <div class="checkboxContent">
            <table>
              <% @recipes.each do |r| %>
                <tr>
                  <td>
                    <%= check_box "recipe_ids", r.id, :class => 'checkboxInput', :checked => "checked", :id => r.id  %>
                    <label for="<%= r.id %>" class="checklabel">
                        <%= l r.cook_at, format: :yyyymmdd %>
                        <%= r.recipe_name %>
                    </label>
                  </td>
                </tr>
              <% end %>
            </table>
          </div>
          <%= submit_tag "材料出力", :class => 'btn output-btn' %>
        <% end %>
      <% end %>
  </div>
</div>
