<h1>カレンダー参照画面</h1>
<%= link_to '編集',edit_recipe_path(@recipe) %>
<%= link_to "削除",
    recipe_path(@recipe),
    method: :delete,
    data: {confirm: '削除しますか？'} %>
</br>

調理日：<%= @recipe.cook_at %><br/>
レシピ名：<%= @recipe.recipe_name %><br/>
カテゴリ：<%= @recipe.category %><br/>
レコード作成日：<%= @recipe.created_at %><br/>
レコード更新日：<%= @recipe.updated_at %><br/>

------------材料------------
<br/>
<% @recipe.food_stuffs.each do |food| %>
    <%= food.food_stuff %>
    <%= food.amount %>
    <%= food.mass %>
    <br/>
<% end %>